@model IEnumerable<ATM.Business.DTO.OperationDTO>

@{
    ViewBag.Title = "Operations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-center">Choose Operation</h4>
<hr />

@foreach (var item in Model)
{
    <div class="text-center">
        @Html.ActionLink(item.Name, item.Name, null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
    </div>
    <br />
}
