@model IEnumerable<ATM.Business.DTO.OperationDTO>

@{
    ViewBag.Title = "Operations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@foreach (var item in Model)
{
    <div>
       @Html.ActionLink(item.Name, item.Name, null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
        @*<a href="Operation/" @item.Id class="btn btn-primary btn-lg">@Html.DisplayFor(modelItem => item.Name)</a>*@
    </div>
    <br />
}
