<div id="virtual-numpad">
    <input type="button" value="7" class="btn btn-info btn-lg" onclick="input(this)">
    <input type="button" value="8" class="btn btn-info btn-lg" onclick="input(this)">
    <input type="button" value="9" class="btn btn-info btn-lg" onclick="input(this)">
    <br />
    <br />
    <input type="button" value="4" class="btn btn-info btn-lg" onclick="input(this)">
    <input type="button" value="5" class="btn btn-info btn-lg" onclick="input(this)">
    <input type="button" value="6" class="btn btn-info btn-lg" onclick="input(this)">
    <br />
    <br />
    <input type="button" value="1" class="btn btn-info btn-lg" onclick="input(this)">
    <input type="button" value="2" class="btn btn-info btn-lg" onclick="input(this)">
    <input type="button" value="3" class="btn btn-info btn-lg" onclick="input(this)">
    <br />
    <br />
    <input type="button" value="Del" class="btn btn-primary" onclick="del()">
    <input type="button" value="0" class="btn btn-info btn-lg" onclick="input(this)">
    <input type="button" value="Clr" class="btn btn-primary" onclick="clr()">

</div>
